doc: The stack definitions for freeds cli. freeds will do some magic and then iterate
  these folders in order to run docker compose with the chosen command in each

config:
  default:
    plugins:
    - freeds-config
    - vault
    - s3-minio
    - postgres
    - jupyter
    - spark
    - redis
    - airflow
    - devpi

  jafkafe:
    plugins:
    - freeds-config
    - vault
    - postgres
    - kafka

  kafka-only:
    plugins:
    - freeds-config
    - s3-minio
    - postgres
    - kafka

  spark-only:
    plugins:
    - freeds-config
    - s3-minio
    - postgres
    - spark

  airflow-only:
    plugins:
    - freeds-config
    - s3-minio
    - postgres
    - redis
    - airflow
